<div class="overlayer" [hidden]="!gettingUnassignedOdersInProgress && !gettingAssignedOdersInProgress">
  <div class="spinner-container">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<div class="dispatcher-order-container uk-card uk-card-default">
  <div class="row">
    <div class="col-md-12 filter-icon-container">
      <button style="width: auto;padding: 0 5px;" class="btn btn-dark pull-right uk-animation-fade" *ngIf="!showFilter"
        (click)="showHideFilter()">
        <i *ngIf="!isFilterActive" class="fa fa-sort-down"></i>
        <i *ngIf="isFilterActive" class="fa fa-filter"></i>
      </button>
      <i class="fa fa-close uk-animation-fade pull-right clickable" *ngIf="showFilter" (click)="showHideFilter()"></i>
    </div>
  </div>

  <div class="row uk-animation-slide-top-small filter-container" [hidden]="!showFilter">
    <app-order-filter (resetFilter)="resetBoardFilter();" (filterTermsBoard)="applyFilterBoardTemplate($event);">
    </app-order-filter>
  </div>
  <div id="dispatcher-main-board" class="row" cdkDropListGroup cdkDropListOrientation="horizontal">
    <div class="row p-0-10 margin-top-10 d-flex">
      <div class="p-0 unassigned-orders-section col-md-2">
        <div class="orders-overflow-container">
          <div class="unassigned-order-header">
            <h4 class="text-center">{{'Unassigned' | translate}}</h4>
          </div>
          <div infinite-scroll [infiniteScrollDistance]="8" [infiniteScrollThrottle]="5" (scrolled)="onScroll()"
            [scrollWindow]="false" cdkDropList (cdkDropListDropped)="onDropOrder($event,'unassign',null)"
            [cdkDropListData]="orders" class="unassigned-orders-container scrollbar" #unassignedContainer>
            <div *ngFor="let order of orders" class="order-card card-margin" [cdkDragData]="order"
              [cdkDragDisabled]="!order.lat || !order.long" cdkDrag (cdkDragMoved)="onDragMoved($event)"
              (cdkDragStarted)="onDragStart($event)">

              <!-- [disableDrag]="!order?.lat || !order?.long || order.statusName == 'On-Travel' || order.statusName == 'Reached' || order.statusName == 'Started'" -->
              <app-order-card [order]="order" [cssClass]="(!order?.lat || !order?.long || order.statusName == 'On-Travel' || order.statusName ==
                    'Reached' || order.statusName == 'Started')?'cursor-block':'cursor-grab'"
                pTooltip="{{!order.lat || !order.long ? 'Not allowed to move this card, as it does not have coordinates':''}}">
              </app-order-card>

            </div>
          </div>
        </div>
      </div>
      <div class="assigned-orders-section col-md-9">
        <div class="technican-overflow-container" id="technican-overflow-container">
          <div *ngFor="let foreman of foremen" class="single-tec">
            <div class="tec-header foreman-name">
              <h4 class="text-left">
                <span>{{foreman?.foremanName}}</span>
                <span *ngIf="foreman?.foremanPhone">{{ "-" + foreman?.foremanPhone}}</span>
              </h4>
            </div>
            <div class="d-flex teams-container">
              <div *ngFor="let team of foreman.teams" class="flex-team">

                <div class="tec-header" [ngClass]="{'red-bg': team.statusId == 2}">
                  <div class="wrap-text">
                    <h4 class="text-center" [ngClass]="{'red-bg': team.statusId == 2}">{{team?.teamName}}</h4>
                  </div>
                </div>
                <div [ngClass]="['#teamId' + team.teamId]" cdkDropList [cdkDropListData]="team.filterOrders"
                  (cdkDropListDropped)="onDropOrder($event,'assign',team.teamId)" class="single-tec-overflow scrollbar">
                  <div *ngFor="let order of team.filterOrders" class="card-margin"
                    [ngClass]="{'no-drop':order.statusName == 'On-Travel' || order.statusName == 'Reached' || order.statusName == 'Started'}"
                    [cdkDragData]="order"
                    [cdkDragDisabled]="order.statusName == 'On-Travel' || order.statusName == 'Reached' || order.statusName == 'Started'"
                    cdkDrag (cdkDragMoved)="onDragMoved($event)"
                    pTooltip="{{(order.statusName == 'On-Travel' || order.statusName == 'Reached' || order.statusName == 'Started' )? 'When status in Reached or Started or On-Travel ,Not allowed to move card' : ''}}">
                    <app-order-card [order]="order">
                    </app-order-card>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <h5 class="m-20" *ngIf="!foremen?.length">{{'No Teams Assigned' | translate}}</h5>
        </div>
      </div>
    </div>
  </div>
</div>