
<div class="modal-header">
  <div class="modal-body">
    {{message}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary delete_button" (click)="dialogRef.close(true)" tabindex="1">{{confirmButtonText}}</button>
    <button class="btn btn-danger delete_button" (click)="dialogRef.close(false)" tabindex="-1">{{cancelButtonText}}</button>
  </div>




