<div class="container dispatcher-order-container uk-card uk-card-default">
  <div class="row margin-top-10 component-container">
    <i class="material-icons small-icons" *ngIf="unAssignedStatusClass === 'zero-filter-width'"
      (click)="toggleUnAssigned(true)">last_page</i>
    <div class="tec-section col-md-9 map-main-container">
      <div class="form-group">

        <input id="txtsearchinput" placeholder="{{'search for location' | translate}}" autocorrect="off"
          autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">



      </div>
      <div [ngClass]="{toggleOverflowX : true, 'full-screen':fullScreenMap}"
        class="technican-overflow-container scrollbar">
        <div class="map-container uk-animation-fade">
          <agm-map #AgmMap [latitude]="lat" [longitude]="lng" [zoom]="zoom" (boundsChange)="onBoundsChange($event)"
            (mapReady)="onMapReady($event)" [mapTypeId]="mapView">
            <div *ngIf="mapOrders.length > 0">
              <agm-marker-cluster
                imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m"
                [maxZoom]="15" [averageCenter]="true">
                <agm-marker *ngFor="let item of mapOrders" [latitude]="item.lat" [longitude]="item.long"
                  [markerDraggable]="false" [iconUrl]="item.pin" [markerClickable]="true" [iconUrl]="item.pin"
                  (markerClick)="markerClicked(item)">
                </agm-marker>
              </agm-marker-cluster>
            </div>


          </agm-map>
          <div class="filter-icon" (click)="toggleFilter(true)">
            <i class="fa fa-bars"></i>
          </div>
          <div class="map-icon" (click)='onToggleMap()'>
            <img [ngClass]="{'black-boards':mapView== 'satellite'}" class="toggle-map"
              [src]="mapView=='roadmap'?'./../../../assets/Images/satellite.PNG':'./../../../assets/Images/map.PNG'"
              alt="toggle-map-view">
          </div>
          <div class="full-screen-icon" (click)="toggleFullScreen()">
            <i class="material-icons" *ngIf="!fullScreenMap">
              fullscreen
            </i>
            <i class="material-icons" *ngIf="fullScreenMap">fullscreen_exit</i>
          </div>
          <div [ngClass]="filterStatusClass" class="filter-body">
            <div [hidden]="filterStatusClass[0] == 'zero-filter-width'">
              <i class="fa fa-close close-filter" (click)="toggleFilter(false)"></i>
              <app-map-filter (resetFilter)="resetFilterMap();toggleFilter(false);"
                (filterTermsMap)="applyFilterMap($event);toggleFilter(false);">
              </app-map-filter>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>