<div class="uk-card uk-card-default">
  <div class="container-fluid uk-animation-fade">
    <p-progressSpinner class="loading-spinner" [hidden]="!isLoading"></p-progressSpinner>


    <div class="form-group">
      <label for="APIKeyForWeb">{{'API Key For Web' |  translate}}:</label>
      <input type="text" class="form-control" id="APIKeyForWeb" [(ngModel)]="settings.APIKeyForWeb">
    </div>

    <div class="form-group">
      <label for="APIKeyForMobile">{{'API Key For Mobile' | translate}}:</label>
      <input type="text" class="form-control" id="APIKeyForMobile" [(ngModel)]="settings.APIKeyForMobile">
    </div>

    <div class="form-group">
      <label for="RefreshRate">{{'Refresh Rate (Minutes)' | translate}}:</label>
      <input appInputRestriction="integer" type="number" class="form-control" id="RefreshRate"
        [(ngModel)]="settings.RefreshRate">
    </div>


    <div class="form-group">
      <button class="btn btn-primary"
        [disabled]="!settings.APIKeyForMobile || !settings.APIKeyForWeb || !settings.RefreshRate"
        (click)="onSaveSettings()">{{'Submit' | translate}}</button>
    </div>
  </div>
</div>