.container {
    width: 100% !important;
    min-height: 380px;
}

table {
    width: 100%;
    table-layout: fixed;
}

/* table>tr>td,
table>tr>th {
    border-color: transparent !important;
} */

td,
th {
    text-align: center;
    padding: 15px;
    border-color: #c3c3c3 !important;
}

:host>>>p-dropdown div div .ui-dropdown-items-wrapper ul .ui-dropdown-item-group {
    background-color: #ccc;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.btn-add {
    width: 100px;
}

input {
    width: 100px;
}

.disabled {
    pointer-events: none;
}

.disabled-drop {
    border: 5px solid red !important;
}

.valid-row {
    background-color: #DFF2BF !important;
}

.invalid-row {
    color: #D8000C !important;
    background-color: #FFBABA !important;
}

.empty-row{
    color: #111 !important;
    background-color: #fff !important;
}

.ellipsis{
    background-color: #fe3 !important;
    color: red !important;
}

.order-code{
    max-width: 100%;
}

.disabled-option{
    cursor: not-allowed;
    color: #D8000C;;
}