<p-growl [(value)]="cornerMessage"></p-growl>
<div class="dispatcher-order-container uk-card uk-card-default">
    <div class="row">
        <div class="col-md-12 filter-icon-container">
            <button style="width: auto;padding: 0 5px;" class="btn btn-dark pull-right uk-animation-fade"
                *ngIf="!showFilter" (click)="showHideFilter()">
                <i *ngIf="!isFilterActive" class="fa fa-sort-down"></i>
                <i *ngIf="isFilterActive" class="fa fa-filter"></i>
            </button>
            <i class="fa fa-close uk-animation-fade pull-right clickable" *ngIf="showFilter"
                (click)="showHideFilter()"></i>
        </div>
    </div>

    <div class="row uk-animation-slide-top-small filter-container" [hidden]="!showFilter">
        <app-order-filter (resetFilter)="showHideFilter();resetBoardFilter();"
            (filterTermsBoard)="showHideFilter();applyFilterBoardTemplateAndRestPage($event);">
        </app-order-filter>
    </div>

    <div class="row" cdkDropListGroup cdkDropListOrientation="horizontal">
        <div class="row p-0-10 margin-top-10 d-flex">
            <div class="overlayer" [hidden]="!isLoading">
                <div class="spinner-container">
                    <p-progressSpinner class="loading-spinner centered"></p-progressSpinner>
                </div>
            </div>
            <div class="p-0 unassigned-orders-section col-md-2">
                <div class="orders-overflow-container">
                    <div class="unassigned-order-header">
                        <h4 class="text-center">{{'Unassigned' | translate}}</h4>
                    </div>
                    <div infinite-scroll [infiniteScrollDistance]="8" [infiniteScrollThrottle]="5"
                        (scrolled)="onSupervisorScroll()" [scrollWindow]="false" cdkDropList
                        (cdkDropListDropped)="onDropOrder($event,'unassign')" [cdkDropListData]="orders"
                        class="unassigned-orders-container scrollbar" #unassignedContainer>
                        <div *ngFor="let order of orders" class="order-card card-margin" [cdkDragData]="order" cdkDrag
                            (cdkDragMoved)="onDragMoved($event)">
                            <app-order-card [order]="order" [orderIconIsView]="CurrentUserHasSupervisorRole">
                            </app-order-card>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dispatchers-section col-md-9">
                <div class="technican-overflow-container scrollbar" id="technican-overflow-container">
                    <div class="single-tec" *ngIf="dispatchers.length">
                        <div class="tec-header foreman-name">
                            <h4 class="text-left">{{'Dispatchers' | translate}}</h4>
                        </div>
                        <div class="d-flex teams-container">
                            <div *ngFor="let dispatcher of dispatchers; let index=index;" class="flex-team">
                                <div class="tec-header wrap-text">
                                    <h4 class="text-center">
                                        <span>{{dispatcher?.dispatcherName}}</span>
                                        <span
                                            *ngIf="dispatcher?.dispatcherPhone">{{ "-" + dispatcher?.dispatcherPhone}}</span>
                                    </h4>
                                </div>
                                <div class="flex-container full-height flex-column">
                                    <div #assignedContainer [id]="dispatcher.dispatcherId"
                                        class="single-tec-overflow scrollbar" infinite-scroll
                                        [infiniteScrollDistance]="8" [infiniteScrollThrottle]="5"
                                        (scrolled)="onDispatcherScroll(dispatcher.dispatcherId,index)"
                                        [scrollWindow]="false" cdkDropList
                                        (cdkDropListDropped)="onDropOrder($event,'assign',dispatcher.dispatcherId)"
                                        [cdkDropListData]="dispatcher.filterOrders">
                                        <div class="disp-container">
                                            <div *ngFor="let order of dispatcher.filterOrders" [cdkDragData]="order"
                                                cdkDrag (cdkDragMoved)="onDragMoved($event)" class="card-margin">
                                                <app-order-card [order]="order"
                                                    [orderIconIsView]="CurrentUserHasSupervisorRole">
                                                </app-order-card>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h5 *ngIf="!dispatchers?.length">{{'No Dispatchers Data' | translate}}</h5>
                </div>
            </div>
        </div>
    </div>