<p-progressSpinner class="loading-spinner" *ngIf="isLoading"></p-progressSpinner>


<div class="flex-main-container">

  <div class="flex-container column-container">
    <div class="panel panel-primary Unassigned-Container">
      <div class="panel-heading">Select Team</div>
      <div class="search-container">
        <div class="search-inner-container">
          <input type="text" disable-spaces placeholder="{{'Team Name' | translate}}.." name="search"
            [(ngModel)]="teamName">
          <i class="fa fa-undo" [pTooltip]="'Reset Search'" tooltipPosition="top"
            (click)="teamName && getTeamsBeforeSearch()" *ngIf="teamName"></i>
          <i class="fa fa-search" [pTooltip]="!teamName ? 'No Team Name to search':'Search'" tooltipPosition="top"
            (click)="onTeamSearch()" [ngClass]="{'disabled':!teamName}"></i>
        </div>
      </div>
      <div class="scroll-container">
        <div class="panel-body group-handle" (click)="onSelectTeam(team);" *ngFor="let team of teams">
          <div class="panel panel-default member-container">
            <div class="panel-body flex-container plus-container"
              [ngClass]="{'selected-team' : currentTeam.id == team.id}">
              <div>
                <span><b> Name: </b> {{team.name}}</span><br />
                <span><b> Id: </b> {{team.id}}</span><br />
                <span><b> Division: </b> {{team.divisionName}}</span><br />
              </div>
              <div class="flex-1 flex-end">
                <span class="btn btn-danger span-button"
                  (click)="openConfirmationOnDeleteTeam(team);$event.stopPropagation();" data-toggle="tooltip"
                  data-placement="bottom" title="Delete Team">
                  <i class="fa fa-trash"></i>
                </span>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="flex-container column-container">
    <div class="panel panel-primary Unassigned-Container">
      <div class="panel-heading">Unassigned Members</div>
      <div class="search-container">
        <div class="search-inner-container">
          <input type="text" disable-spaces placeholder="{{'PF' | translate}}.." name="search" [(ngModel)]="PF">
          <i class="fa fa-undo" [pTooltip]="'Reset Search'" tooltipPosition="top" (click)="getTechsBeforSearch()"
            *ngIf="PF"></i>
          <i class="fa fa-search" [pTooltip]="!PF ? 'no Personnel Number to search':'Search'" tooltipPosition="top"
            (click)="PF && onTechSearch()" [ngClass]="{'disabled':!PF}"></i>
        </div>
      </div>
      <div class="scroll-container">
        <div class="no-items-container">
          <p class="no-items-paragraph" *ngIf="!unassignedMembers.length && !divisionObj?.name && !isLoading">
            {{'please select division to show members' | translate}}
          </p>
          <p class="no-items-paragraph" *ngIf="!unassignedMembers.length && divisionObj?.name && !isLoading">
            {{'no members are found in this division' | translate}}
          </p>
        </div>
        <div class="panel-body group-handle" *ngFor="let tech of unassignedMembers; let i = index;">
          <div class="panel panel-default member-container">
            <div class="panel-body">
              <div class="flex-container plus-container">
                <i class="fa fa-car" *ngIf="tech.isDriver"></i>
                <i class="fa fa-wrench" *ngIf="!tech.isDriver"></i>
                <div>
                  <span><b> {{'name' | translate}}: </b> {{tech.fullName}}</span><br />
                  <span><b> {{'PF' | translate}}: </b> {{tech.pf}}</span><br />
                  <span><b> {{'Division' | translate}}: </b> {{tech.divisionName}}</span><br />
                </div>
                <div class="flex-1 flex-end">
                  <span class="btn btn-primary span-button" (click)="addTech(tech , i)" data-toggle="tooltip"
                    data-placement="bottom" title="Add Member">
                    <i class="fa fa-plus"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-container column-container">
    <div class="panel panel-primary Unassigned-Container">
      <div class="panel-heading">{{'Unassigned Vehicles' | translate}}</div>
      <div class="search-container">
        <div class="search-inner-container">
          <input type="text" disable-spaces placeholder="{{'plate number' | translate}}.." name="search"
            [(ngModel)]="plateNo">
          <i class="fa fa-undo" [pTooltip]="'Reset Search'" tooltipPosition="top" (click)="getVehiclesBeforeSearch()"
            *ngIf="plateNo"></i>
          <i class="fa fa-search" [pTooltip]="!plateNo ? 'no Plate Number to search':'Search'" tooltipPosition="top"
            [ngClass]="{'disabled':!plateNo}" (click)="plateNo && onVehicleSearch()"></i>
        </div>
      </div>
      <div class="scroll-container">
        <div class="panel-body group-handle" *ngFor="let vehicle of unassignedVehicles; let i = index;">
          <div class="panel panel-default member-container">
            <div class="panel-body">
              <div class="flex-container">
                <span><b> {{'Plate Number' | translate}}: </b> {{vehicle.memberParentName}}</span>
                <div class="flex-1 flex-end">
                  <span class="btn btn-primary span-button" (click)="assignVehicle(vehicle , i);" data-toggle="tooltip"
                    data-placement="bottom" title="Assign Vehicle">
                    <i class="fa fa-plus"></i>
                  </span>


                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex-container column-container">
    <form #editForm="ngForm" class="form-add">
      <div class="panel panel-primary Unassigned-Container">
        <div class="panel-heading">{{'Selected Team' | translate}}</div>
        <div class="modal-body">

          <div class="form-group">
            <label>{{'Name' | translate}} :</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="userObj.name" [disabled]="!currentTeam.id"
              disable-spaces required />
            <div style="text-align: center; margin-top: 10px">
            </div>
          </div>

          <div class="form-group">
            <label>{{'Division' | translate}}</label>
            <select class="form-control" name="divisionObj" [(ngModel)]="divisionObj.id" required
              (change)="onChangeDivision(divisionObj.id)" [disabled]="!divisionObj.id || disableChangeDivision">
              <option [ngValue]="d.id" *ngFor="let d of divisions" [selected]="d.name === divisionObj.name">{{d.name}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>{{'Forman' | translate}}</label>
            <select class="form-control" name="formanObj" [(ngModel)]="formanObj" required [disabled]="!formanObj.id">
              <option [ngValue]="f" *ngFor="let f of formans" [selected]="f.id === formanObj.id">{{f.fullName}}
              </option>
            </select>
          </div>

          <div class="form-group">
            <label>{{'Shift' | translate}}</label>
            <select class="form-control" name="shiftObj" [(ngModel)]="shiftObj" required [disabled]="!shiftObj.id">
              <option [ngValue]="s" *ngFor="let s of shifts" [selected]="s.id === shiftObj.id">
                {{s.name}}</option>
            </select>
          </div>

          <div class="form-group">
            <label>{{'Availability' | translate}}</label>
            <select class="form-control" name="availabilityObj" [(ngModel)]="availabilityObj" required
              [disabled]="!availabilityObj.id">
              <option [ngValue]="av" *ngFor="let av of availabilities" [selected]="av.id == availabilityObj.id">
                {{av.name}}</option>
            </select>
          </div>

          <div class="scroll-container selected-memebers-container">
            <div class="panel-body group-handle" *ngIf="currentTeam.vehicle.id">
              <div class="panel panel-default member-container">
                <div class="panel-body">
                  <div class="flex-container plus-container">
                    <div>
                      <span><b> {{'Plate Number' | translate}}: </b> {{currentTeam.vehicle.memberParentName}}</span>
                    </div>
                    <div class="flex-1 flex-end">
                      <i class="fa fa-remove" (click)="removeVehicle(currentTeam.vehicle);"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-body group-handle" *ngIf="currentTeam.driver.id">
              <div class="panel panel-default member-container">
                <div class="panel-body">
                  <div class="flex-container plus-container">
                    <i class="fa fa-car"></i>
                    <div>
                      <span><b> {{'name' | translate}}: </b> {{currentTeam.driver.fullName}}</span><br />
                      <span><b> {{'PF' | translate}}: </b> {{currentTeam.driver.pf}}</span><br />
                      <span><b> {{'Driver' | translate}}: </b> {{currentTeam.driver.isDriver}}</span><br />
                      <span><b> {{'Division' | translate}}: </b> {{currentTeam.driver.divisionName}}</span><br />
                    </div>
                    <div class="flex-1 flex-end">
                      <i class="fa fa-check-square"
                        *ngIf="userObj.name == (currentTeam.driver.memberName + ' - ' + currentTeam.driver.memberPhone) || userObj.name == currentTeam.driver.memberName">
                      </i>
                      <i class="fa fa-square-o"
                        *ngIf="userObj.name != (currentTeam.driver.memberName + ' - ' + currentTeam.driver.memberPhone) && userObj.name != currentTeam.driver.memberName"
                        (click)="assinTeamName(currentTeam.driver);">
                      </i>
                      <i class="fa fa-remove" (click)="openConfirmationOnDeleteMember(currentTeam.driver,null);">
                      </i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="panel-body group-handle" *ngFor="let member of currentTeam.members; let i = index;">
              <div class="panel panel-default member-container">
                <div class="panel-body">
                  <div class="flex-container plus-container">
                    <i class="fa fa-wrench"></i>
                    <div>
                      <span><b> {{'name' | translate}}: </b> {{member.fullName}}</span><br />
                      <span><b> {{'PF' | translate}}: </b> {{member.pf}}</span><br />
                      <span><b> {{'Division' | translate}}: </b> {{member.divisionName}}</span><br />
                    </div>
                    <div class="flex-1 flex-end">
                      <i class="fa fa-check-square"
                        *ngIf="userObj.name == member.memberName + ' - ' + member.memberPhone || userObj.name == member.memberName"></i>
                      <i class="fa fa-square-o"
                        *ngIf="userObj.name != member.memberName + ' - ' + member.memberPhone && userObj.name != member.memberName"
                        (click)="assinTeamName(member);"></i>
                      <i class="fa fa-remove" (click)="openConfirmationOnDeleteMember(member, i);"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="full-width submit-container">
          <button class="full-width submit-button" (click)="onSubmit()"
            [disabled]="(!currentTeam?.members.length  || !editForm.valid || (editForm.pristine && sameMembers()))">{{'Submit' | translate}}</button>
        </div>
      </div>
    </form>
  </div>


</div>