:host {
    color: #000;
}

* {
    margin: 0;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    cursor: pointer;
    background-color: #f5f5f5;
    border-bottom: 1px solid #a3a3a3;
}

.icons {
    display: flex;
    flex-direction: row;
    font-size: 24px;
    align-items: center;
}

.fa {
    cursor: pointer;
    z-index: 9;
    padding: 5px;
}

p {
    margin: 5px 0;
    padding: 2px;
}

.read {
    background-color: #fff
}

.approval-box i {
    width: 50px;
}

.approval-box i {
    font-size: 20px;
    margin-bottom: 5px;
}

.details {
    flex: 1
}


.filter-item {
    display: flex;
    flex-direction: column;
}

.filter-btn-container {
    display: flex;
}

.filter-btn {
    margin-right: 10px;
}

.input-sm {
    padding: 0.429em;
    box-shadow: none;
    font-size: 14px;
    font-weight: 400;
    height: 32px;
    line-height: 20px;
    overflow-x: hidden;
    border: 1px solid rgb(166, 166, 166);
}

.input-sm:hover {
    border: 1px solid #333;
}

:host>>>.ui-dataview-content {
    padding: 0px !important;
}

:host>>>.ui-dataview-header {
    padding: 0px !important;
    height: 0px !important;
}

.table-container {
    position: relative;
}

.overlay {
    position: absolute;
    background-color: #f5f5f5;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}


.spinner {
    position: fixed;
    top: 20%;
    left: 45%;
    z-index: 11;
}