<!-- <p-progressSpinner *ngIf="isLoading" class="spinner"></p-progressSpinner> -->


<div class="uk-card uk-card-default">

  <div class="row">
    <div class="col-md-3">
      <div class="filter-item">
        <label for="startDate">{{'Start Date' | translate}}<span class="text-danger">*</span></label>
        <p-calendar hideOnDateTimeSelect="true" id="startDate" name="startDate" showTime="true" hourFormat="12"
          [(ngModel)]="filterObj.startDate" required="true" dateFormat="dd-mm-yy" [maxDate]="filterObj.endDate">
        </p-calendar>
      </div>
    </div>

    <div class="col-md-3">
      <div class="filter-item">
        <label for="endDate">{{'End Date' | translate}}<span class="text-danger">*</span></label>
        <p-calendar hideOnDateTimeSelect="true" id="endDate" name="endDate" showTime="true" hourFormat="12"
          [(ngModel)]="filterObj.endDate" required="true" dateFormat="dd-mm-yy" [minDate]="filterObj.startDate">
        </p-calendar>
      </div>
    </div>
    <!-- <div class="col-md-3">
      <div class="filter-item">
        <label for="startDate">Start Date</label>
        <input class="input-sm" id="startDate" type="date" [(ngModel)]="filterObj.startDate">
      </div>
    </div>


    <div class="col-md-3">
      <div class="filter-item">
        <label for="endDate">End Date</label>
        <input class="input-sm" id="endDate" type="date" [(ngModel)]="filterObj.endDate">
      </div>
    </div>
    -->

    <div class="col-md-3">
      <div class="filter-item">
        <label for="OrderCode">{{'Order Id' | translate}}</label>
        <input class="input-sm" id="OrderCode" appInputRestriction="integer" type="number"
          [(ngModel)]="filterObj.OrderCode">
      </div>
    </div>


    <div class="col-md-3">
      <div class="filter-item">
        <label for="tec">{{'Technician' | translate}}</label>
        <p-multiSelect [resetFilterOnHide]="true" [virtualScroll]="true" itemSize="30" defaultLabel="Choose Technician"
          [options]="allTecs" id="tec" name="tec" [disabled]="allTecs.length==0" optionLabel="fullName"
          [panelStyle]="{minWidth:'20em'}" (onChange)="changeTecs($event)" [(ngModel)]="selectedTechsView">
        </p-multiSelect>
      </div>
    </div>



    <div class="col-md-12 filter-btn-container">
      <div class="filter-btn">
        <button class="btn btn-primary" [disabled]="!filterObj.endDate||!filterObj.startDate"
          (click)="onResetPagination();"> {{'Show' | translate}}</button>
      </div>


      <div class="filter-btn">
        <button class="btn btn-primary" (click)="onResetDates()"> {{'Reset' | translate}}</button>
      </div>


    </div>
  </div>
</div>
<hr>
<div class="table-container">
  <p-dataView [lazy]="true" (onPage)="loadData($event);" [totalRecords]="totalRecords" [value]="notifications"
    [loading]="isLoading" [paginator]="true" [rows]="75" #dataView>

    <ng-template let-notification pTemplate="listItem" let-i="rowIndex">

      <div class="flex-container" [ngClass]="{'read':notification.isRead}" (click)="onNotificationClick(notification)">
        <div class="details">
          <h5>
            {{notification.title}}
          </h5>
          <p>
            {{notification.body}}
          </p>
          <p>
            <small>{{notification.createdDate | date:'yyyy-MM-dd hh:mm:ss a': '+0600' }}</small>
          </p>
        </div>
        <div class="icons"
          *ngIf="notification.notificationType === 'Change order priority' && !(notification.isActionTaken)">
          <i class="fa" pTooltip="{{'approve' | translate}}" tooltipPosition="left"
            (click)="onApproveRequest($event,notification,i,true)">&#xf058;</i>
          <i class="fa" pTooltip="{{'disapprove' | translate}}" tooltipPosition="left"
            (click)="onApproveRequest($event,notification,i,false)">&#xf057;</i>
        </div>
        <div class="icons">
          <i class="fa" pTooltip="{{'delete notification?' | translate}}" tooltipPosition="left"
            (click)="onDeleteNotification($event,notification,i)">&#xf1f8;</i>
          <i class="fa" style="font-size:14px" pTooltip="{{'mark as unread' | translate}}" tooltipPosition="left"
            *ngIf="notification.isRead" (click)="onUpdateNotification($event,notification,i)">&#xf10c;</i>
          <i class="fa" style="font-size:14px" pTooltip="{{'mark as read' | translate}}" tooltipPosition="left"
            *ngIf="!notification.isRead" (click)="onUpdateNotification($event,notification,i)">&#xf111;</i>
        </div>
      </div>
    </ng-template>
  </p-dataView>
  <div class="overlay" *ngIf="isLoading"></div>
</div>