<p-growl [(value)]="cornerMessage"></p-growl>
<div class="overlayer" [hidden]="fetchingDataDone && !toggleLoading">
  <div class="spinner-containerr">
    <p-progressSpinner class="loading-spinner centered"></p-progressSpinner>
  </div>
</div>

<div class="dispatcher-order-container uk-card uk-card-default">
  <div class="row">
    <div class="d-flex">
      <div class="col-md-2">
        <label class="dispatcher-title" for="dispatcher">{{'Choose Dispatcher' | translate}}</label>
        <p-dropdown (onChange)="onSelectDispatcher($event)" [resetFilterOnHide]="true"
          placeholder="{{'Choose Dispatcher' | translate}}" [options]="dispatcherList"
          [style]="{maxWidth:'200px !important'}" [panelStyle]="{maxWidth:'200px !important'}">
        </p-dropdown>
      </div>
    </div>
    <div *ngIf="selectedDispatcher.id">
      <div class="row">
        <div class="col-md-12 filter-icon-container">
          <button style="width: auto;padding: 0 5px;" class="btn btn-dark pull-right uk-animation-fade"
            *ngIf="!showFilter" (click)="showHideFilter()">
            <i *ngIf="!isFilterActive" class="fa fa-sort-down"></i>
            <i *ngIf="isFilterActive" class="fa fa-filter"></i>
          </button>
          <i class="fa fa-close uk-animation-fade pull-right clickable" *ngIf="showFilter"
            (click)="showHideFilter()"></i>
        </div>
      </div>

      <div class="row uk-animation-slide-top-small filter-container" [hidden]="!showFilter">
        <app-order-filter (resetFilter)="resetBoardFilter();" (filterTermsBoard)="onClickFilter($event)">
        </app-order-filter>
      </div>

      <div class="row">
        <div class="row p-0-10 margin-top-10 d-flex">
          <div class="p-0 unassigned-orders-section col-md-2">
            <div class="orders-overflow-container">
              <div class="unassigned-order-header">
                <h4 class="text-center">{{'Unassigned' | translate}}</h4>
              </div>
              <div infinite-scroll [infiniteScrollDistance]="8" [infiniteScrollThrottle]="5" (scrolled)="onScroll()"
                [scrollWindow]="false" class="unassigned-orders-container scrollbar" #unassignedContainer>
                <div *ngFor="let order of orders" class="order-card card-margin">
                  <div
                    [ngClass]="{'no-drop':!order?.lat || !order?.long || order.statusName == 'On-Travel' || order.statusName == 'Reached' || order.statusName == 'Started'}">
                    <app-order-card [order]="order" [cssClass]="'cursor-pointer'"
                      [orderIconIsView]="CurrentUserHasSupervisorRole"
                      pTooltip="{{!order.lat || !order.long ? 'Not allowed to move this card, as it does not have coordinates':''}}">
                    </app-order-card>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="assigned-orders-section col-md-9">
            <div class="technican-overflow-container" id="technican-overflow-container">
              <div *ngFor="let foreman of foremen" class="single-tec">
                <div class="tec-header foreman-name">
                  <h4 class="text-left">
                    <span>{{foreman?.foremanName}}</span>
                    <span *ngIf="foreman?.foremanPhone">{{ "-" + foreman?.foremanPhone}}</span>
                  </h4>
                </div>
                <div class="d-flex teams-container">
                  <div *ngFor="let team of foreman.teams" class="flex-team">

                    <div class="tec-header" [ngClass]="{'red-bg': team.statusId == 2}">
                      <div class="wrap-text">
                        <h4 class="text-center" [ngClass]="{'red-bg': team.statusId == 2}">{{team?.teamName}}</h4>
                      </div>
                    </div>
                    <div [ngClass]="['#teamId' + team.teamId]" class="single-tec-overflow scrollbar">
                      <div *ngFor="let order of team.filterOrders" class="card-margin"
                        [ngClass]="{'no-drop':order.statusName == 'On-Travel' || order.statusName == 'Reached' || order.statusName == 'Started'}"
                        pTooltip="{{(order.statusName == 'On-Travel' || order.statusName == 'Reached' || order.statusName == 'Started' )? 'When status in Reached or Started or On-Travel ,Not allowed to move card' : ''}}">
                        <app-order-card placeholder="Right" [orderIconIsView]="CurrentUserHasSupervisorRole"
                          [order]="order" [cssClass]="'cursor-pointer'">
                        </app-order-card>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <h5 class="m-20" *ngIf="!foremen?.length">{{'No Teams Assigned' | translate}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>