.footer-bottom {
    background: #02466b;
    border-top: 1px solid #d9d9d9;
    font-size: 11px;
    color: #f8f8f8;
    height: 30px;
}

.widget {
    text-align: center;
    font-size: 14px;
    padding: 5px 0px;
}