<p-growl [(value)]="cornerMessage"></p-growl>
<div class="overlayer" [hidden]="fetchingDataDone && !toggleLoading">
  <div class="spinner-containerr">
    <p-progressSpinner class="loading-spinner centered"></p-progressSpinner>
  </div>
</div>
<div class="container uk-card uk-card-default">
  <div class="row">
    <div class="col-12">
      <div id="printBtnContainer">
        <button class="btn btn-primary" (click)="onPrint()">
          <i class="fa fa-print"></i>
        </button>
        <span *ngIf="foremenWithOrders.length > 0">{{ numberOfOrders }} {{'orders to be printed' | translate}}</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form #printoutForm="ngForm">
        <div class="filter-form-section">
          <!-- <div class="form-group">
            <label for="dateFrom">{{'Date From' | translate}}</label>
            <p-calendar hideOnDateTimeSelect="true" name="dateFrom" id="dateFrom" [(ngModel)]="date_from"
              showTime="true" hourFormat="12">
            </p-calendar>
          </div> -->

          <!-- <div class="form-group">
            <label for="dateTo">{{'Date From' | translate}}</label>
            <p-calendar hideOnDateTimeSelect="true" name="dateTo" id="dateTo" [(ngModel)]="date_to" showTime="true"
              hourFormat="12"></p-calendar>
          </div> -->

          <div class="form-group" *ngIf="foremen.length > 0">
            <label>{{'Foreman' | translate}}</label>
            <p-multiSelect [options]="foremen" name="foremen" [(ngModel)]="selected_foremen"
              (onChange)="onForemenSelect()">
            </p-multiSelect>
          </div>

          <div class="form-group" *ngIf="selected_foremen.length > 0">
            <label>{{'Team' | translate}}</label>
            <p-multiSelect [options]="teams" name="teams" [(ngModel)]="selected_teams" optionLabel="name"
              (onChange)="onTeamSelect()">
            </p-multiSelect>
          </div>
        </div>
        <div class="filter-form-section">
          <div class="form-group">
            <input type="checkbox" name="dispatched_included" [(ngModel)]="includeOpenOrders"
              id="dispatchedOrdersIncluded" [checked]="includeOpenOrders" (change)="onChangeIncludeOpenOrders()">
            <label for="dispatchedOrdersIncluded" id="checkboxLabel">{{'include open orders' | translate}}</label>
          </div>

          <div class="form-group">
            <button class="btn btn-primary px-5" type="button"
              (click)="getData(this.filterObj)">{{'Filter' | translate}}</button>
            <button class="btn btn-primary px-5" type="button"
              (click)="onReset(printoutForm)">{{'Reset' | translate}}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container uk-card uk-card-default" #printedSection>
  <div class="row">
    <div class="col-12">
      <p id="noOrdersIndicator" [hidden]="foremenWithOrders.length > 0">{{'No Orders To Show' | translate}}</p>
      <div *ngIf="foremenWithOrders.length > 0" class="page-container">
        <div *ngFor="let foreman of foremenWithOrders">
          <div class="orders-container" *ngFor="let page of foreman.ordersWithPages; let i = index">
            <h3 *ngIf="foreman.foremanName && i == 0">{{'Foreman' | translate}} : {{ foreman.foremanName }}</h3>
            <h3 *ngIf="!foreman.foremanName && i == 0">{{'Open Orders' | translate}}</h3>
            <h5 *ngIf="i == 0">{{'Area' | translate}} : {{ foreman.areaName  || foreman.areaId }}</h5>
            <div class="order" *ngFor="let order of page">
              <div class="order-left-column">
                <!-- Customer name -->
                <p><span>{{'Customer name' | translate}}:</span>{{ order.customerName || '--' }}</p>
                <!-- Customer caller no -->
                <p><span>{{'Customer caller no' | translate}}:</span>{{ order.caller_ID || '--' }}</p>
                <!-- Functional location -->
                <p><span>{{'Functional location' | translate}}:</span>{{ order.functionalLocation || '--' }}</p>
                <!-- Area (in the PACI column) -->
                <p><span>{{'Area' | translate}}:</span>{{ order.saP_AreaName || '--' }}</p>
                <!-- Block (in the PACI column) -->
                <p><span>{{'Block' | translate}}:</span>{{ order.saP_BlockName || '--' }}</p>
                <!-- Street (in the PACI column) -->
                <p><span>{{'Street' | translate}}:</span>{{ order.saP_StreetName || '--' }}</p>
                <!-- House\kasima (in the PACI column) -->
                <p><span>{{'House\kasima' | translate}}:</span>{{ order.saP_HouseKasima || '--' }}</p>
                <!-- Address note -->
                <p><span>{{'Address note' | translate}}:</span>{{ order.addressNote || '--' }}</p>
                <!-- Current status -->
                <p><span>{{'Current status' | translate}}:</span>{{ order.statusName || '--' }}</p>
                <!-- Current sub status -->
                <p><span>{{'Current sub status' | translate}}:</span>{{ order.subStatusName || '--' }}</p>
                <!-- Technician visit notes -->
                <p><span>{{'Technician visit notes' | translate}}:</span>{{ order.serveyReport || '--' }}</p>
              </div>
              <div class="order-right-column">
                <!-- Order No -->
                <p><span>{{'Order No' | translate}}:</span>{{ order.code || '--' }}</p>
                <!-- Order type -->
                <p><span>{{'Order type' | translate}}:</span>{{ order.typeName || '--' }}</p>
                <!-- Creation date: shows the order creation date and time -->
                <p>
                  <span>{{'Creation date' | translate}}:</span>{{ order.saP_CreatedDate| date:'dd/MM/yyyy hh:mm:ss a' || '--' }}
                </p>
                <!-- Company code -->
                <p><span>{{'Company code' | translate}}:</span>{{ order.companyCodeName || '--' }}</p>
                <!-- Contract type -->
                <p><span>{{'Contract type' | translate}}:</span>{{ order.contractTypeName || '--' }}</p>
                <!-- Contract Expiration date -->
                <p>
                  <span>{{'Contract Expiration date' | translate}}:</span>{{ order.contractExpiryDate| date:'dd/MM/yyyy' || '--' }}
                </p>
                <!-- Dispatcher name: shows current dispatcher name -->
                <p><span>{{'Dispatcher name' | translate}}:</span>{{ order.dispatcherName || '--' }}</p>
                <!-- Foreman name -->
                <p><span>{{'Foreman name' | translate}}:</span>{{ foreman.foremanName || '--' }}</p>
                <!-- Technician name -->
                <p><span>{{'Technician name' | translate}}:</span>{{ order.techName || '--' }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>