<div class="uk-card uk-card-default">
  <div class="container-fluid uk-animation-fade">
    <p-progressSpinner class="loading-spinner" [hidden]="!toggleLoading && !isLoading"></p-progressSpinner>

    <div [hidden]="toggleLoading">

      <div class="row filter-container">

        <div class="filter-form-section">
          <p-multiSelect [resetFilterOnHide]="true" defaultLabel="Choose Dispatcher" [options]="dispatcherList"
            [(ngModel)]="searchObj.dispatchers" [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Dispatcher Selected'"
            [panelStyle]="{minWidth:'200px'}" [virtualScroll]="true">
          </p-multiSelect>
        </div>

        <div class="filter-form-section">
          <p-multiSelect [resetFilterOnHide]="true" itemSize="30" defaultLabel="Choose Order Problems"
            [options]="allProblems" [(ngModel)]="searchObj.orderProblems" [panelStyle]="{minWidth:'200px'}"
            [maxSelectedLabels]="1" [selectedItemsLabel]="'{0} Problems Selected'" [virtualScroll]="true">
          </p-multiSelect>
        </div>


        <div class="filter-form-section">
          <p-multiSelect [resetFilterOnHide]="true" itemSize="30" defaultLabel=" Choose Areas" [options]="allAreas"
            [(ngModel)]="searchObj.areas" [panelStyle]="{minWidth:'200px'}" [maxSelectedLabels]="1"
            [selectedItemsLabel]="'{0} Areas Selected'" [virtualScroll]="true">
          </p-multiSelect>
        </div>

        <div class="filter-form-section btn-container">
          <button class="btn btn-primary" (click)="AddNewProblem()"> {{'Add' | translate}} </button>
          <button class="btn btn-primary" (click)="onReset()"> {{'Reset' | translate}} </button>
          <button class="btn btn-primary" (click)="onSearch()"> {{'Search' | translate}} </button>
        </div>
      </div>
      <!-- <hr> -->
      <div>
        <ngx-datatable class="material expandable" [rows]="disWithProbs" [columnMode]="'force'" [columns]="[]"
          [headerHeight]="50" [footerHeight]="50" [rowHeight]="'50'" [scrollbarH]="false" [externalPaging]="true"
          [count]="page.totalElements" [offset]="page.pageNumber" [limit]="page.size" (page)='setPage($event)'
          [scrollbarV]="false" [loadingIndicator]="isLoading">
          <ngx-datatable-column [width]='50' prop="fullName" name="Dispatcher">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
              <div class="cursor-pointer" (click)="openEditModal(row,$event)">
                <!-- there is   
              ERROR Error: 
              ExpressionChangedAfterItHasBeenCheckedError: 
              Expression has changed after it was checked.
              Previous value: 'className: datatable-body-cell sort-active active'.
              Current value: 'className: datatable-body-cell sort-active'.
              need to be handled
            
              the fix is by remove click(row)
            -->
                {{value}}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" [width]='50' prop="areaName" name="{{'area' | translate}}">
          </ngx-datatable-column>
          <ngx-datatable-column [sortable]="false" [width]='50' prop="orderProblemName"
            name="{{'problem' | translate}}">
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>