.add-button {
  margin-top: 10px;
  /*width: 100% !important;*/
}

button.btn.btn-add {
  width: auto;
}

ngx-datatable-column {
  position: relative;
}

input,
span {
  width: 90%;
}

span {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


:host>>>.ui-inputtext {
  padding: 0px 10px;
}

:host>>>.ui-calendar {
  z-index: 10;
}

:host>>>.from-time>.ui-datepicker {
  left: 3.5rem !important;
  top: 3rem !important;
  min-width: fit-content !important;
  padding: 10px !important;
}

:host>>>.from-time>.rtl-panel {
  right: 3.5rem !important;
  left: unset !important;
}


:host>>>.to-time>.ui-datepicker {
  left: 17.5rem !important;
  top: 3rem !important;
  min-width: fit-content !important;
  padding: 10px !important;
}

:host>>>.to-time>.rtl-panel {
  right: 17.5rem !important;
  left: unset !important;
}

:host>>>.datatable-body-cell {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-end !important;
}