<div class="modal-header">
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="modal-title">{{header}}</h4>
</div>

<form #editForm="ngForm" autocomplete="off" (ngSubmit)="editForm.valid && close(data)">

  <div class="modal-body">

    <div class="form-group" *ngIf="type == 'Area'">
      <!--<label>Area No :</label>-->
      <label for="area_No"> {{'Area No' | translate}} <span class="red-star">*</span></label>
      <input type="number" class="form-control" placeholder="{{'Please type area code' | translate}} ..." name="area"
        [(ngModel)]="data.area_No" required>

      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.area.invalid" severity="error"
          text="Value is required to be saved!"></p-message>
      </div>
    </div>

    <div class="form-group"
      *ngIf="type == 'Building Types' || type =='Company Code' || type =='Problems' || type =='Contract Type' || type == 'Division' || type == 'Languages' || type == 'On-Hold Sub-Status Types' || type == 'Order Cancellation Reasons' || type == 'Complete Sub-Status Types'||type =='Idle Types'||type =='Break Types'||type=='Order Status'">
      <label for="code">{{'Code' | translate}} <span class="red-star">*</span></label>
      <input type="text" class="form-control" placeholder="{{'Please type code' | translate}} ..." name="area"
        [(ngModel)]="data.code" required>

      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.area.invalid" severity="error"
          text="Value is required to be saved!"></p-message>
      </div>
      
    </div>
    <!-- <div class="form-group"
    *ngIf=" type =='Problems'">
    <label for="code">{{'Code' | translate}} <span class="red-star">*</span></label>
    <input type="text" class="form-control" placeholder="{{'Please type code' | translate}} ..." name="problem"
      [(ngModel)]="data.code" required>

    <div style="text-align: center; margin-top: 10px">
      <p-message *ngIf="editForm.submitted && editForm.controls?.problem.invalid" severity="error"
        text="Value is required to be saved!"></p-message>
    </div>
    
  </div> -->

    <div class="form-group" *ngIf="type !== 'Shift'">
      <label for="name">{{'Name' | translate}} <span class="red-star">*</span></label>
      <input class="form-control" placeholder="{{'Please type value' | translate}} ..." name="name"
        [(ngModel)]="data.name" required>

      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.name.invalid" severity="error"
          text="Value is required to be saved!"></p-message>
      </div>
    </div>

    <div class="form-group" *ngIf="type == 'Shift'">
      <label style="margin-right: 10px;">{{'Time From' | translate}} : </label>
      <p-calendar [(ngModel)]="startDate" timeOnly="true" required="true" name="dayFrom" showTime="true" hourFormat="12"
        [showIcon]="true"></p-calendar>
      <p-message style="display: block" *ngIf="editForm.submitted && editForm?.controls?.dayFrom?.invalid">
        <i class="fa fa-exclamation-triangle" hideOnDateTimeSelect="true"></i>
        {{'you must add a start time for the shift' | translate}}
      </p-message>
    </div>

    <div class="form-group" *ngIf="type == 'Shift'">
      <label style="margin-right: 10px;">Time To : </label>
      <p-calendar hideOnDateTimeSelect="true" [(ngModel)]="endDate" timeOnly="true" required="true" name="dayTo"
        showTime="true" hourFormat="12" [showIcon]="true"></p-calendar>
      <p-message style="display: block" *ngIf="editForm.submitted && editForm?.controls?.dayTo?.invalid">
        <i class="fa fa-exclamation-triangle"></i>
        {{'you must add an end time for the shift' | translate}}
      </p-message>
    </div>

    <div class="form-group" *ngIf="type =='Problems'">
      <label for="exceedHours">{{'exceedHours' | translate}} <span class="red-star">*</span></label>
      <input type="number" class="form-control" placeholder="{{'Please hours count' | translate}} ..."
        name="exceedHours" [(ngModel)]="data.exceedHours" required>

      <div style="text-align: center; margin-top: 10px">
        <p-message *ngIf="editForm.submitted && editForm.controls?.exceedHours.invalid" severity="error"
          text="You Must add exceedHours"></p-message>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn" (click)="activeModal.dismiss()">{{'close' | translate}}</button>
    <button class="btn btn-primary" type="submit">{{'Save' | translate}}</button>
  </div>
</form>