.container {
  width: 100% !important;
}

app-order-management-filter {
  margin-bottom: 20px;
}

.btn-light {
  width: 150px !important;
  margin-bottom: 10px;
}

.overlayer {
  position: fixed;
  width: 100%;
  height: 85%;
  z-index: 99999999;
  display: -ms-flexbox;
  display: flex;
  top: 68px;
  opacity: 0.9;
  left: 0;
}

.spinner-container {
  margin: auto;
}

/* Absolute Center Spinner 
.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  left: 0;
  right: 0;
}
*/
/* 
.loading-indicator::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
} */

.loader-container {
  position: sticky;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.uk-card-default {
  z-index: 2;
}