<!-- 
<div class="loader-container" [hidden]="!toggleLoading">
  <p-progressSpinner mode="indeterminate"></p-progressSpinner>
</div>
-->

<div class="container uk-card uk-card-default">
  <div class="row">
    <div class="col-12">
      <app-order-management-filter (resetEvent)="onReset()" [isLoading]="toggleLoading" [isExporting]="isExporting"
        (filterEvent)="applyFilter($event)" (exportEvent)="export($event)" [$filterView]="$filterView">
      </app-order-management-filter>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-12" *ngIf="filterObj && (orders.length > 0)">
    <app-order-management-report-table [filterObj]="filterObj" [orders]="orders" [count]="count"
      [isLoading]="toggleLoading" (pageClicked)="applyFilter($event) " [$filterView]="$filterView">
    </app-order-management-report-table>
  </div>
  <h3 *ngIf="(!toggleLoading) && filterObj && (!isExported) && (orders.length == 0)">{{'No orders found' | translate}}.
  </h3>
</div>