<form #filterForm="ngForm" class="filter-form" (submit)="applyFilter()">

    <div class="sections-container">
        <div class="filter-form-section">
            <div class="form-group">
                <p-calendar [showIcon]="true" [placeholder]="'Creation Start Date' | translate"
                    hideOnDateTimeSelect="true" id="dateFrom" name="dateFrom" showTime="true" hourFormat="12"
                    [(ngModel)]="filter.dateFrom" required="true" dateFormat="dd-mm-yy" [maxDate]="filter.dateTo">
                </p-calendar>
            </div>
        </div>

        <div class="filter-form-section">
            <div class="form-group">
                <p-calendar [showIcon]="true" [placeholder]="'Creation End Date' | translate"
                    hideOnDateTimeSelect="true" id="dateTo" name="dateTo" showTime="true" hourFormat="12"
                    [(ngModel)]="filter.dateTo" required="true" dateFormat="dd-mm-yy" [minDate]="filter.dateFrom">
                </p-calendar>
            </div>
        </div>

        <div class="filter-form-section">
            <div class="form-group">
                <p-multiSelect [disabled]="allAreas.length == 0" [defaultLabel]="'Areas' | translate"
                    [virtualScroll]="true" itemSize="30" [maxSelectedLabels]="1"
                    [selectedItemsLabel]="'{0} Areas Selected'" name="area" [options]="allAreas"
                    [(ngModel)]="filter.areas" optionLabel="name"></p-multiSelect>
            </div>
        </div>

        <div class="filter-form-section">
            <p-multiSelect [virtualScroll]="true" itemSize="30" [defaultLabel]="'Types' | translate"
                [disabled]="allOrderTypes.length == 0" [maxSelectedLabels]="1"
                [selectedItemsLabel]="'{0} Types Selected'" name="orderType" [options]="allOrderTypes"
                [(ngModel)]="filter.orderTypes" optionLabel="name"></p-multiSelect>
        </div>

        <div class="filter-form-section">
            <div class="form-group">
                <p-multiSelect [virtualScroll]="true" itemSize="30" [defaultLabel]="'Problems' | translate"
                    [disabled]="allProblems.length == 0" [maxSelectedLabels]="1"
                    [selectedItemsLabel]="'{0} Problems Selected'" name="problem" [options]="allProblems"
                    [(ngModel)]="filter.problems" optionLabel="name"></p-multiSelect>
            </div>
        </div>

        <div class="filter-form-section">
            <div class="form-group">
                <p-multiSelect [virtualScroll]="true" itemSize="30" [defaultLabel]="'Status' | translate"
                    [disabled]="allStatuses.length == 0" [maxSelectedLabels]="1"
                    [selectedItemsLabel]="'{0} Status Selected'" name="status" [options]="allStatuses"
                    [(ngModel)]="filter.status" optionLabel="name"></p-multiSelect>
            </div>
        </div>

        <div class="filter-form-section">
            <p-multiSelect [virtualScroll]="true" itemSize="30" [defaultLabel]="'Divisions' | translate"
                [disabled]="allDivisions.length == 0" [maxSelectedLabels]="1"
                [selectedItemsLabel]="'{0} Divisions Selected'" name="division" [options]="allDivisions"
                [(ngModel)]="filter.divisions" optionLabel="name"></p-multiSelect>
        </div>

        <div class="filter-form-section">
            <p-multiSelect [virtualScroll]="true" itemSize="30" [defaultLabel]="'Dispatchers' | translate"
                [disabled]="allDispatchers.length == 0" [maxSelectedLabels]="1"
                [selectedItemsLabel]="'{0} Dispatchers Selected'" name="dispatcher" [options]="allDispatchers"
                [(ngModel)]="filter.dispatchers" optionLabel="fullName"></p-multiSelect>
        </div>

        <div class="filter-form-section">
            <p-multiSelect [virtualScroll]="true" itemSize="30" [defaultLabel]="'Technicians' | translate"
                [disabled]="allTechnicians.length == 0" [maxSelectedLabels]="1"
                [selectedItemsLabel]="'{0} Technicians Selected'" name="technician" [options]="allTechnicians"
                [(ngModel)]="filter.technicians" optionLabel="fullName"></p-multiSelect>
        </div>

        <!-- important note -->
        <!-- I created two from where because of the difference of the values between dynamic and static -->
        <!-- dynamic : assigned = 1, unassigned = 2, both = 3 -->
        <!-- static : unassigned = 1, assigend = 2, both = 3 -->
        <div class="filter-form-section">
            <div class="form-group">
                <p-dropdown [(ngModel)]="filter.fromWhere" [placeholder]="'From where' | translate"
                    [options]="ListOfFromWhere" [filter]="false" filterBy="label" id="fromWhere" name="fromWhere">
                </p-dropdown>
            </div>
        </div>

        <div class="buttons-container">
            <button (click)="applyResetFilter()" type="button" class="btn btn-light report-button">
                {{'Reset' | translate}}
            </button>

            <button [disabled]="checkFilter()" type="submit"
                class="btn btn-dark report-button">{{'Filter' | translate}}</button>
        </div>
    </div>
</form>