<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{header}}</h4>
</div>
<p-progressSpinner class="loading-spinner" *ngIf="toggleLoading"></p-progressSpinner>

<form #editForm="ngForm" autocomplete="off" (ngSubmit)="editForm.valid && close()">

    <div class="modal-body">

        <div class="form-group" *ngFor="let lang of allLanguages;let i = index;">
            <label class="title">{{lang.name}}</label>
            <div class="form-group" *ngIf="type != 'Shift'">
                <label>{{'Name' | translate}} :</label>
                <input type="text" class="form-control" [name]="'langData'+i"
                    [(ngModel)]="langData[i] && langData[i].name" required />
                <div style="text-align: center; margin-top: 10px">
                    <!-- <p-message *ngIf="editForm.submitted && editForm.controls?.name.invalid" severity="error" text="Value is required to be saved!"></p-message> -->
                </div>
            </div>

            <div class="form-group" *ngIf="type == 'Shift'">
                <label>{{'Day' | translate}} :</label>
                <input type="text" class="form-control" name="day" [(ngModel)]="langData[i] && langData[i].day"
                    required />
                <p-message *ngIf="editForm.submitted && editForm.controls?.day.invalid"><i
                        class="fa fa-exclamation-triangle"></i>{{'This field is required' | translate}}</p-message>
            </div>

            <!-- <div class="form-group" *ngIf="type == 'Shift'">
                <label>Time From :</label>
                <p-calendar [(ngModel)]="langData[i] && langData[i].fromTime" name="dayFrom" showTime="true" hourFormat="12" [showIcon]="true"></p-calendar>
    
                <p-message style="display: block" *ngIf="editForm.submitted && editForm?.controls?.dayFrom?.invalid"><i class="fa fa-exclamation-triangle"></i>Please
                    select visit time</p-message>
            </div>
    
            <div class="form-group" *ngIf="type == 'Shift'">
                <label>Time From :</label>
                <p-calendar [(ngModel)]="langData[i] && langData[i].toTime" name="dayTo" showTime="true" hourFormat="12" [showIcon]="true" readonlyInput="true"></p-calendar>
    
                <p-message style="display: block" *ngIf="editForm.submitted && editForm?.controls?.dayTo?.invalid"><i class="fa fa-exclamation-triangle"></i>Please
                    select visit time</p-message>
            </div> -->
            <hr>
        </div>

    </div>


    <div class="modal-footer">
        <button class="btn" (click)="activeModal.dismiss()">{{'close' | translate}}</button>
        <button class="btn btn-primary" type="submit" (click)="close()">{{'Save' | translate}}</button>
    </div>
</form>