<p-growl #growl [baseZIndex]="9999999" [(value)]="growlMessage" [immutable]="false" [sticky]="false" [life]="5000">
</p-growl>

<div id="main" class="wrapper">
    <app-main-header-component></app-main-header-component>
    <div>
        <!-- class="BackImg" -->
        <div class="temp-sibiling" *ngIf="toggleFullWidth"></div>
        <div class="StaticBack">
            <div class="row">
                <div class="col-xs-12">
                    <app-alert-component class="alertInfo"></app-alert-component>
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer-component class="footer"></app-footer-component>