
:host{
  width: 90% !important;
}

.add-button {
  margin-top: 15px
}

.add-form {
margin-top: 25px;
  border: 1px solid lightgray;
  padding: 10px;
  box-sizing: border-box;
}


.gary{
  color:#c3c3c3;
}


/* .word-wrap{
  word-wrap: break-word;
} */

.word-wrap {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  height: 100px;
  text-align: center !important;
  vertical-align: middle !important;
}


.modal-dialog{
  display: flex;
  justify-content: center;
}

.modal-content{
  width: 140% !important;
}