<div class="uk-card uk-card-default">
  <div class="container-fluid uk-animation-fade">
    <p-progressSpinner class="loading-spinner" [hidden]="!isLoading"></p-progressSpinner>


    <div class="col-md-offset-1 col-md-10">
      <ul class="uk-child-width-expand" uk-tab style="margin-left:0 !important;">
        <li *ngFor="let role of itemsRoles" [ngClass]="applyActiveTab(role.name)">
          <a (click)="getUserData(role.name)" style="padding-bottom:0 !important">
            <h5>{{role.name}}</h5>
          </a>
        </li>
      </ul>
      <ul class="uk-switcher animation: uk-animation-fade">
        <li *ngFor="let role of itemsRoles">
          <app-userManagment [role]="role.name" [getUserData]="getDataForRole"></app-userManagment>
        </li>
      </ul>
    </div>
  </div>
</div>