.disbaled-btn {
    cursor: not-allowed;
    transition: 0.5s all;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.disbaled-btn:hover {
    opacity: .65;
}

.invalid-password {
    border: 1px solid red;
}

.hide-input {
    height: 0;
    overflow: hidden;
}