<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" *ngIf="!show_resetPasswordFields">{{header}}</h4>
    <h4 class="modal-title" *ngIf="show_resetPasswordFields">{{'Reset Password' | translate}}</h4>
</div>

<p-progressSpinner class="loading-spinner" *ngIf="isLoading"></p-progressSpinner>

<form #editForm="ngForm" autocomplete="off">
    <div class="modal-body" *ngIf="!show_resetPasswordFields">
        <div class="form-group">
            <label>{{'User Name/PF' | translate}} *</label>

            <div class="hide-input">
                <input id="username" name="userName" [(ngModel)]="userData.baseUser.userName" />
            </div>
            <!-- chnage username validatioon and readonlu incase of edit  -->
            <input autocomplete="new-username-input" id="username" type="{{!userData.baseUser.id?'number':'text'}}"
                [readonly]="userData.baseUser.id" class="form-control" name="userName"
                [(ngModel)]="userData.baseUser.userName" appInputRestriction="integer" min="0" required />

            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.userName.invalid" severity="error"
                    text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <div class="form-group" *ngIf="!data.id">
            <label>{{'Password' | translate}} *</label>
            <div class="hide-input">
                <input id="password" name="password" [(ngModel)]="userData.baseUser.password" />
            </div>
            <input autocomplete="new-password" id="password" type="password" class="form-control" name="password"
                [(ngModel)]="userData.baseUser.password" required />
            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.password.invalid" severity="error"
                    text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <div class="form-group" *ngIf="!data.id">
            <label>{{'Confirm Password' | translate}} *</label>
            <input autocomplete="new-password-input-confirm" id="confirmPassword" type="password" class="form-control"
                name="confirmPassword" [(ngModel)]="userData.baseUser.confirmPassword" required
                [ngClass]="{'invalid-password': editForm.controls?.confirmPassword?.dirty && editForm.value.confirmPassword != editForm.value.password }" />
            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.confirmPassword.invalid" severity="error"
                    text="Value is required to be saved!"></p-message>
                <p-message
                    *ngIf="editForm.controls?.confirmPassword?.dirty && editForm.value.confirmPassword != editForm.value.password"
                    severity="error" [text]="'Password Mismatch!' | translate"></p-message>
            </div>
        </div>
        <div class="form-group">
            <label>{{'First Name' | translate}} *</label>
            <input id="firstName" type="text" class="form-control" name="firstName"
                [(ngModel)]="userData.baseUser.firstName" disable-spaces required />
            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.firstName.invalid" severity="error"
                    text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <div class="form-group">
            <label>{{'Last Name' | translate}} *</label>
            <input id="lastName" type="text" class="form-control" name="lastName"
                [(ngModel)]="userData.baseUser.lastName" disable-spaces required />
            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.lastName.invalid" severity="error"
                    text="Value is required to be saved!"></p-message>
            </div>
        </div>

        <div class="form-group">
            <label>{{'Phone' | translate}}</label>
            <input id="phone" appInputRestriction="integer" type="number" class="form-control" name="phone"
                [(ngModel)]="userData.baseUser.phone" />
            <!-- <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.phone.invalid" severity="error"
                    text="Value is required to be saved!"></p-message>
            </div> -->
        </div>

        <div class="form-group" *ngIf="role != 'Admin'">
            <label>{{'Cost Center' | translate}} *</label>
            <p-dropdown [disabled]="costCenters.length == 0" (onChange)="onSelectCostCenters($event)"
                placeholder="{{'Choose Cost Center' | translate}}" [options]="costCenters" optionLabel="name"
                [filter]="false" [(ngModel)]="costCenter" name="costCenter" [required]="true">
            </p-dropdown>
            <!-- <select id="costCenter" class="form-control" name="costCenter" [(ngModel)]="costCenter" required
                [compareWith]="compareByOptionId">
                <option [ngValue]="c" *ngFor="let c of costCenters">{{c.name}}</option>
            </select> -->
        </div>
        <div class="form-group" *ngIf="role == 'Supervisor'">
            <label>{{'Manager' | translate}} *</label>
            <p-dropdown [disabled]="managers.length == 0" (onChange)="onSelectManager($event)"
                placeholder="{{'Choose Manager' | translate}}" [options]="managers" optionLabel="fullName"
                [filter]="false" [(ngModel)]="manager" name="manager" [required]="true">
            </p-dropdown>
            <!-- <select id="manager" class="form-control" name="managerObj" [(ngModel)]="managerObj" required
                [compareWith]="compareByOptionId">
                <option [ngValue]="manager" *ngFor="let manager of managers">{{manager.fullName}}</option>
            </select> -->
        </div>
        <div class="form-group" *ngIf="role != 'Admin' && role != 'Manager'">
            <label>{{'Division' | translate}} *</label>
            <p-dropdown #divisionDropDown [disabled]="divisions.length == 0" (onChange)="onSelectDivision($event)"
                placeholder="{{'Choose Division' | translate}}" [options]="divisions" optionLabel="name"
                [filter]="false" [(ngModel)]="division" name="division" [required]="true">
            </p-dropdown>
            <!-- <select id="division" class="form-control" name="division" [(ngModel)]="division" required
                [compareWith]="compareByOptionId" (ngModelChange)="onDivisionChange(division)">
                <option [ngValue]="{}">
                </option>
                <option [ngValue]="d" *ngFor="let d of divisions">
                    {{d.name}}
                </option>
            </select> -->
        </div>
        <div class="form-group" *ngIf="role == 'Foreman'">
            <label>{{'Engineer' | translate}} *</label>
            <p-dropdown #engineerDropDown [disabled]="engineers.length == 0" (onChange)="onSelectEngineer($event)"
                placeholder="{{'Choose Engineer' | translate}}" [options]="engineers" optionLabel="fullName"
                [filter]="false" [(ngModel)]="engineer" name="engineer" [required]="true"></p-dropdown>
            <!-- <select id="engineer" class="form-control" name="engineer" [(ngModel)]="engineer" required
                [compareWith]="compareByOptionId">
                <option [ngValue]="e" *ngFor="let e of engineers">{{e.fullName}}</option>
            </select> -->
        </div>
        <div class="form-group" *ngIf="role == 'Dispatcher'|| role == 'Foreman'">
            <label>{{'Supervisor' | translate}} *</label>
            <p-dropdown #supervisorDropDown [disabled]="supervisors.length == 0" (onChange)="onSelectSupervisor($event)"
                placeholder="{{'Choose Supervisor' | translate}}" [options]="supervisors" optionLabel="fullName"
                [filter]="false" [(ngModel)]="supervisor" name="supervisor" [required]="true"></p-dropdown>
            <!-- <select id="supervisor" class="form-control" name="supervisor" [(ngModel)]="supervisor" required
                [compareWith]="compareByOptionId">
                <option [ngValue]="s" *ngFor="let s of supervisors">{{s.fullName}}</option>
            </select> -->
        </div>
        <div class="form-group" *ngIf="role == 'Foreman'">
            <label>{{'Dispatcher' | translate}} *</label>
            <p-dropdown #dispatcherDropDown [disabled]="dispatchers.length == 0" (onChange)="onSelectDispatcher($event)"
                placeholder="{{'Choose Dispatcher' | translate}}" [options]="dispatchers" optionLabel="fullName"
                [filter]="false" [(ngModel)]="dispatcher" name="dispatcher" [required]="true"></p-dropdown>
            <!-- <select id="dispatcher" class="form-control" name="Dispatcher" [(ngModel)]="dispatcher" required
                [compareWith]="compareByOptionId">
                <option [ngValue]="dis" *ngFor="let dis of dispatchers">{{dis.fullName}}</option>
            </select> -->
        </div>
        <!-- <div class="form-group">
            <label>{{'Personnel Number' | translate}}*</label>
            <input id="pf"  appInputRestriction="integer"  type="number" class="form-control" name="pf" [(ngModel)]="pf" required />
            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.pf.invalid" severity="error"
                    text="Value is required to be saved!"></p-message>
            </div>
        </div> -->
        <div class="form-group" *ngIf="role == 'Technician'">
            <label>{{'Is Driver' | translate}}</label><br />
            <p-toggleButton [ngModelOptions]="{standalone: true}" [(ngModel)]="isDriver" onLabel="Diver"
                offLabel="Technician" [onIcon]="'pi pi-check'" offIcon="pi pi-times" [style]="{'width':'150px'}">
            </p-toggleButton>
        </div>
    </div>

    <div class="modal-body" *ngIf="show_resetPasswordFields">
        <div class="form-group">
            <label>{{'User Name' | translate}}*</label>
            <input type="text" class="form-control" name="name" [(ngModel)]="userData.baseUser.userName" required
                readonly />
            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.name.invalid" severity="error"
                    text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <div class="form-group">
            <label>{{'New Password' | translate}}*</label>
            <input type="password" class="form-control" name="newPassword" [(ngModel)]="newPassword" required />
            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.newPassword.invalid" severity="error"
                    text="Value is required to be saved!"></p-message>
            </div>
        </div>
        <div class="form-group">
            <label>{{'Confirm Password' | translate}} *</label>
            <input id="confirmResetPassword" type="password" class="form-control" name="confirmResetPassword"
                [(ngModel)]="userData.baseUser.confirmResetPassword" required
                [ngClass]="{'invalid-password': editForm.controls?.confirmResetPassword?.dirty && editForm.value.confirmResetPassword != editForm.value.newPassword }" />
            <div style="text-align: center; margin-top: 10px">
                <p-message *ngIf="editForm.submitted && editForm.controls?.confirmResetPassword.invalid"
                    severity="error" text="Value is required to be saved!"></p-message>
                <p-message
                    *ngIf="editForm.controls?.confirmResetPassword?.dirty && editForm.value.confirmResetPassword != editForm.value.newPassword"
                    severity="error" [text]="'Password Mismatch!' | translate"></p-message>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" type="button" (click)="onResetPassword()" 
      
        *ngIf="(!show_resetPasswordFields && data && data.userId)">
            {{'Reset Password' | translate}}</button>
            
          <!-- *ngIf="(!show_resetPasswordFields && data && (data.userId || data.id))"> --> 
         <!-- resetPassword For Admin  -->
  

        
        
            <button class="btn btn-primary pull-left" type="button" (click)="editOtherFields()"
            *ngIf="show_resetPasswordFields">{{'Edit Other Fields' | translate}}</button>
        <button class="btn" type="button" (click)="activeModal.dismiss()">{{'close' | translate}}</button>
        <!-- logging(editForm);  [ngClass]="{'disbaled-btn': !editForm.valid}" editForm.valid &&  -->
        <button class="btn btn-primary" type="submit" (click)="saveUser()" *ngIf="!show_resetPasswordFields"
            [disabled]="(editForm.controls?.confirmPassword?.dirty && editForm.value.confirmPassword != editForm.value.password) || !editForm.valid">{{'Save' | translate}}</button>



        <button class="btn btn-primary" type="submit" (click)="saveNewPassword(editForm)"
            [disabled]="(editForm.value.confirmResetPassword != editForm.value.newPassword)|| !editForm.valid"
            *ngIf="show_resetPasswordFields">{{'Save' | translate}}</button>
        <img *ngIf="isSaving"
            src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
</form>