<div class="uk-card uk-card-default">
  <div class="container-fluid uk-animation-fade">
    <ul class="list-group list-inline list-unstyled">
      <li>
        <label for="datefrom"> {{'Date from' | translate}}*</label>
        <p-calendar hideOnDateTimeSelect="true" id="createdDateFrom" name="createdDateFrom" showTime="true"
          hourFormat="12" placeholder="{{'Date from' | translate}}" [(ngModel)]="timeObj.dateFrom" required="true"
          dateFormat="dd-mm-yy" [maxDate]="timeObj.dateTo">
        </p-calendar>
      </li>

      <li>
        <label for="dateto"> {{'Date To' | translate}}*</label>
        <p-calendar hideOnDateTimeSelect="true" id="createdDateFrom" name="createdDateFrom" showTime="true"
          hourFormat="12" placeholder="{{'Date To' | translate}}" [(ngModel)]="timeObj.dateTo" required="true"
          dateFormat="dd-mm-yy" [minDate]="timeObj.dateFrom">
        </p-calendar>
      </li>


      <li>
        <label for="PF"> {{'Personnel Number' | translate}} </label>
        <input class="form-control input-sm input-item" id="PF" type="number" appInputRestriction="integer"
          placeholder="{{'Personnel Number' | translate}}" [(ngModel)]="timeObj.pfNo">
      </li>


      <li>
        <label for="CostCenter"> {{'Cost Center' | translate}} </label>
        <p-dropdown [disabled]="costCenters.length == 0" (onChange)="onSelectCostCenter($event)"
          [(ngModel)]="SelectedCostCenter" placeholder="Cost Center" [options]="costCenters" [filter]="false"
          optionLabel="name" filterBy="label" id="CostCenter"></p-dropdown>
      </li>
    </ul>
    <div class="btn-container">
      <button class="btn btn-primary" (click)="ShowTime(timeObj)">{{'Show' | translate}}</button>
      <button class="btn btn-primary" (click)="onReset()">{{'Reset' | translate}}</button>
      <button class="btn btn-primary" (click)="onExport(timeObj)">{{'Export' | translate}}</button>
    </div>
    <hr>


    <div>
      <ngx-datatable class="material expandable" [rows]="rows" [columns]="[]" [loadingIndicator]="loadingIndicator"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'">
        <ngx-datatable-column [width]='100' prop="data_Entry_Profile" name="{{'Data Entry Profile' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="key_Date" name="{{'Key Date' | translate}} ">
          <!-- <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value | date :'dd-MM-yyyy'}}
          </ng-template> -->
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="personal_Number" name="{{'Personnel Number' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="activity_Type" name="{{'Activity Type' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="cost_Center" name="{{'Cost Center' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="sales_Order_Number" name="{{'Sales Order Number' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="sales_Order_Item_Number"
          name="{{'Sales Order Item Number' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="order_Number" name="{{'Order Number' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="network" name="{{'Network' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="operation" name="{{'Operation' | translate}}"></ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="sub_Operation" name="{{'Sub Operation' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='120' prop="attendance_or_activity_type"
          name="{{'Attendance or Activity Type' | translate}}">
        </ngx-datatable-column>
        <ngx-datatable-column [width]='100' prop="hours" name="{{'Hours'|translate}}">
          <!-- <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{value | HoursMinutesSeconds }}
          </ng-template> -->
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</div>