label {
  padding: 5px;
}

.list-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

label {
  margin-bottom: 0px;
  display: block;
}

input[type="date"] {
  border: 1px solid #ccc;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-container button {
  margin: 5px;
}

.input-item {
  padding: 16px 10px;
  border: 1px solid #a6a6a6;
  border-radius: 4px;
  font-size: 14px;
  color: #333333;
  transition: border-color 0.2s;
}


.input-item::placeholder {
  color: #333333;
  opacity: 0.8;
}

.input-item:hover {
  border-color: #212121;
}

:host>>>.ui-datepicker {
  top: 35px !important;
}
