:host {
    display: flex;
    flex-direction: column;
}

.loader {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    opacity: 0.7;
}

p-dropdown {
    padding: 0px;
    /* width: 100% !important; */
}

.p-container {
    padding: 0px;
    margin: 0px 5px;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    width: 80px;
    font-size: 14px;
    z-index: 99999;
}

.show-more {
    background-color: transparent;
    border: none;
    color: #101094;
    font-size: 12px;
}

:host>>>.ui-dropdown-panel {
    /* z-index: 4000 !important;
    top: 30px !important;
    left: 30px !important; */
    z-index: 199005 !important;
    /* top: -75px !important;
    left: 0px !important;
    opacity: 1 !important; */
}

:host>>>.ui-dropdown {
    width: 100% !important;
    /* position: relative !important; */
}


:host>>>.ui-dropdown-label {
    padding: 6px !important;
    font-weight: bold;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 700;
}

:host>>>.ui-dropdown-items {
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

.management-report-table-container {
    position: relative;
}


/* :host>>>.ngx-datatable {
    height: 400px !important;
}

*/
/* :host>>>.ngx-datatable .datatable-body {
    overflow-y: auto !important;
} */

:host>>>.datatable-body {
    z-index: 2;
}

:host>>>.datatable-scroll {
    max-height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
}

.page-size {
    left: 45%;
    position: absolute;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}

select {
    padding: 5px 20px;
    border-radius: 2px;
    border-color: #e6e6fa;
}

/* :host>>>.ngx-datatable .datatable-footer {
    position: absolute;
    top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

:host>>>.ngx-datatable .datatable-header {
    position: absolute;
    top: 50px;
}

:host>>>.ngx-datatable .datatable-body {
    margin-top: 100px;
} */